# Exclude everything
**

# Except package dirs, run.py, poetry files, tests, .pre-commit-config, .git and README
!run.py
!manifest.json
!shared
!License
!.env
!.git
!README.md
!requirements.txt
!utils



# Re-ignore pycache which might be inside package dir
**/__pycache__
#
## Ignore the "assets" or "data" folder that might be inside "tests"
